<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Angular Topics</h3>
    <a routerLink="data-binding" class="w3-bar-item w3-button">Data-Binding</a>
    <a routerLink="data-directive" class="w3-bar-item w3-button">Data-Directive </a>
    <a routerLink="childrouting" class="w3-bar-item w3-button">Child Component</a>
    <a routerLink="parent-child" class="w3-bar-item w3-button">Parent-Child Communication</a>
    <a routerLink="pipe" class="w3-bar-item w3-button">Angular Pipe</a>
    <a routerLink="rxjs" class="w3-bar-item w3-button">RXJS</a>
    <a routerLink="subject" class="w3-bar-item w3-button">Subject</a>
    <a routerLink="forms" class="w3-bar-item w3-button">Reactive Form</a>
    <a routerLink="auth" class="w3-bar-item w3-button">Authentication</a>
    <a routerLink="todo" class="w3-bar-items w3-button">Database</a>
  </div>
